* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  

.header {
    background-color: #1F2937;
    padding: 20px 150px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    
}

.header-list {
    font-size: 18px;
    color: #E5E7EB;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul  {
   list-style-type: none;
   display: flex;
   gap: 70px;
   float: right;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.navigation-below {
    padding: 100px 0px;
    margin: 0px;
    display: flex;
    height: 200px;
    align-items: center;
    gap: 30px;
}

.navigation-below > div {
    
    width: 450px;
    margin: 0px;
    text-align: left;
    height: 200px;
}

.text {
   flex-grow: 0;
}


#main-text {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8; 
   
}

#secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.image >p {
    text-align: center;
    vertical-align: middle;
    color: #F9FAF8;
    padding: 90px;
    
}

.image {
    flex-grow: 8;
    background-color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }

/*Second Section */

h1 {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
    text-align: center;
    padding: 50px 150px;
  
  }

.second-section {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 5px 150px;
    height: 350px;
}


.boxes {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    text-align: center;
    height: 200px;
    width: 155px;
}

.box {
    height: 100%;
    width: 100%;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.boxes > p{
    padding-top: 10px;
}

/*Third Section */
.third-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 250px;
}

.third-section > p{
    text-align: justify;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.third-section > h2 {
    align-self: flex-end;
    margin-top: auto;
}

/*Fourth Section */
.fourth-section {
    background-color: #F1F1F1;
    margin: 150px;
}

.fourth-section-container {
    background-color: dodgerblue;
    padding: 50px 100px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 250px;
    border-radius: 10px;
}

.subcontainers > h6 {
    font-size: 24px;
    color: #F1F1F1;
}

.subcontainers > p {
    font-size: 18px;
    color: #E5E7EB;
}

.subcontainers > button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/*Footer*/
.footer {
    background-color: #1F2937;
}

.footer-container {
    padding: 20px 500px;
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
}

